<!DOCTYPE html>
<html lang="pt-BR"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{app.title}">App Title</title>
</head>
<body>

    <h1 th:text="#{app.welcome(${nome})}">Bem-vindo ao App</h1>

    <h2>Resumo financeiro</h2>
    <ul>
        <li><strong>ID do usuário:</strong> <span th:text="${id}">ID</span></li>
        <li><span th:text="#{app.usuario.saldo(${saldo})}">Saldo</span></li>
        <li><span th:text="#{app.usuario.gastos(${gastos})}">Gastos</span></li>
        <li><span th:text="#{app.usuario.meta(${metaEconomia})}">Meta</span></li>
    </ul>

</body>
</html>